<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if material.parent? %>
      <% parent = material.parent %>
      <li class="breadcrumb-item">
        <% if parent.index_path? %>
          <%= link_to title_for_model(parent), parent.route_key %>
        <% else %>
          &hellip;
        <% end %>
      </li>
      <li class="breadcrumb-item"><%= link_to parent.breadcrumb_title, parent %></li>

      <% if material.path? %>
        <li class="breadcrumb-item"><%= link_to title_for_model(material), [ material.route_key, parent ] %></li>
      <% else %>
        <li class="breadcrumb-item active" aria-current="page"><%= title_for_model(material) %>
      <% end %>
    <% else %>
      <li class="breadcrumb-item">IS ORPHAN</li>
    <% end %>
  </ol>
</nav>
