<% list = Material::List.for(facet.record_class) %>
<% content_for(:title) { list.title } %>
<% cache facet do %>
  <%= content_tag :main, id: "#{list.parameterized_title}-index", class: "container" do %>
    <header>
      <%#= render "breadcrumbs", model: parent, label: title_for_collection(collection) if has_parent %>

      <%# if action_name == "index" %>
        <%# if controller.action_methods.include?("new") && (!controller.respond_to?(:new?) || controller.new?) %>
          <%#= link_to t("add_new"), { action: :new }, class: "btn btn-primary btn-lg float-right" %>
        <%# end %>
      <%# end %>

      <%#= content_tag(:h5, class: "text-muted") { heading_for_model(parent) } if has_parent %>

      <h1 class="mb-3"><%= list.title %></h1>

      <%#= render "navigation/tabs" if content_for?(:navigation_tabs) %>
    </header>

    <%#= content_tag(:hr) unless content_for?(:navigation_tabs) %>
  <% end %>
<% end %>
