<% if content_for?(:navigation_aside) %>
  <div class="row">
    <aside class="col-lg-3 mb-3"><%= render "standard_view/navigation_aside" %></aside>
    <div class="col-lg-9"><%= content_for(:page_content) %></div>
  </div>
<% else %>
  <%= content_for(:page_content) %>
<% end %>
