<!-- Define your own masthead menu navigation:
  app/views/application/_masthead_nav_menu_items.html.erb      => Application Default
  app/views/something_else/_masthead_nav_menu_items.html.erb   => Specific Override

Example:
  <h6 class="dropdown-header"><%#= t(".build") %></h6>
  <%#= masthead_menu_link_for_model School %>
  <div class="dropdown-divider"></div>
  <%#= masthead_menu_link reports_path, "flag-checkered", t(".reports"), active_for(controller: :reports) %>
-->
